[submodule "submodules/DatasetBuilder"]
	path = submodules/DatasetBuilder
	url = https://github.com/gatheluck/DatasetBuilder.git
[submodule "submodules/ModelBuilder"]
	path = submodules/ModelBuilder
	url = https://github.com/gatheluck/ModelBuilder.git
