[submodule "submodules/DatasetBuilder"]
	path = submodules/DatasetBuilder
	url = https://github.com/gatheluck/DatasetBuilder.git
[submodule "submodules/ModelBuilder"]
	path = submodules/ModelBuilder
	url = https://github.com/gatheluck/ModelBuilder.git
[submodule "submodules/FourierHeatmap"]
	path = submodules/FourierHeatmap
	url = https://github.com/gatheluck/FourierHeatmap.git
[submodule "submodules/AttackBuilder"]
	path = submodules/AttackBuilder
	url = https://github.com/gatheluck/AttackBuilder.git
[submodule "submodules/CnnSpacialSensitivity"]
	path = submodules/CnnSpacialSensitivity
	url = https://github.com/gatheluck/CnnSpacialSensitivity.git
